* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  max-width: 1280px;
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-parent {
  position: relative;
}

.search-parent input {
  border-radius: 50px;
}
.search-parent i {
  position: absolute;
  top: 3px;

  right: 10px;
}

.nav-items {
  display: flex;
  gap: 20px;
  list-style: none;
}
.nav-items li a {
  text-decoration: none;
  color: green;
  font-weight: bold;
  font-size: 18px;
}

.banner {
  display: flex;
  background-color: aqua;
  margin-top: 20px;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  border-radius: 10px;
}

.banner h2 {
  font-size: 10px;
}
.banner p {
  font-size: 14px;

  max-width: 500px;
}
.banner img {
  width: 402px;
  height: 300px;
}

.banner-price {
  color: red;
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.panda-btn {
  background-color: linear-gradient(to right, #4fab33, #afaa18);
  color: rgb(24, 24, 24);
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.catagory-cardcontainer {
  justify-content: space-around;
  display: flex;
  width: 100%;
}
.catageries {
  margin: 20px 0;
}
.catageries h2 {
  margin-bottom: 20px;
  font-size: 28px;
}
.catageory-card {
  display: flex;
  background: linear-gradient(90deg, #f59e0b, #fbbf24);
  padding: 20px;
  border-radius: 10px;
}
.catageory-card2 {
  display: flex;
  background: linear-gradient(90deg, #ec4899, #f43f5e);
  padding: 20px;
  border-radius: 10px;
}
.showes-section {
  padding: 50px 0;
}
.show-container {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-bottom: 20px;
}
.show-card {
  background-color: white;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
}
.show-card img {
  width: 300px;
  height: 200px;
}

.card-price {
  display: block;
  color: red;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.show-card .panda-btn {
  background: #ec4899;
}

.bag-card {
  background-color: white;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  box-shadow:  5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, -28px -14px 7px -8px rgba(0,0,0,0.07); 
box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, -28px -14px 7px -8px rgba(0,0,0,0.07);;
}
.bag-container {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
.bag-card img {
  width: 300px;
  height: 200px;
}
.bag-card .panda-btn {
  background: #ec4899;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.bag-show {
  background-color: #fbbf24;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 20px;
}

/* Contact Section */
.contact-section {
  background: #b0cb9c;
  text-align: center;
  padding: 50px 0;
  margin-top: 50px;
}

.contact-input {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.contact-input input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.contact-input .panda-btn {
  background-color: #4fab33;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
